@charset "UTF-8";

<
style>body {
	background: #eee8aa;
	font-family: Yu Gothic;
}

div {
	font-family: Yu Gothic;
	background: #fff8dc;
	width: 300px;
	border: 1px solid #8b4513;
	text-align: center;
	margin: 30px;
}

</
style
>